
.~lock*

.vscode
Universal-Mod/um.cfg
Universal-Mod/mp/*
Universal-Mod/saves/*
Universal-Mod/maps/*.bak
resources/universal-mod/mob/*.bak
tools/third-party-tools/ei_maper/options.json
tools/third-party-tools/ei_maper/workflow.log
tools/third-party-tools/ZoneView_1.4.3/zoneview.ini
tools/third-party-tools/ZoneView_1.4.3/ZoneView.log
