[MainSettings]
Ver=1
PzPath=C:\Program Files (x86)\Evil Islands\
PzResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\databaselmp.res
PzCdPath=.\
DefalDir=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\
MfHeight=810
MfWidth=1548
MfTop=218
MfLeft=214
MfWstate=3
AiinfoResPath=C:\Program Files (x86)\Evil Islands\res\aiinfo.res
DatabaseResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\database.res
DatabaselmpResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\databaselmp.res
FiguresResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\figures.res
GfxResPath=C:\Program Files (x86)\Evil Islands\res\gfx.res
MaterialsResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\materials.res
MenusResPath=C:\Program Files (x86)\Evil Islands\res\menus.res
OutroResPath=C:\Program Files (x86)\Evil Islands\res\outro.res
RedressResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\redress.res
SfxResPath=C:\Program Files (x86)\Evil Islands\res\sfx.res
SpeechResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\speech.res
TextsResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\texts.res
TextslmpResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\textslmp.res
TexturesResPath=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\textures.res
DatabaseResIsh=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\database.res
DatabaselmpResIsh=C:\Users\Kyral\Desktop\EI-Universal-Mod\Universal-Mod-Testing\res\databaselmp_res
TextsEdStart=C:\Program Files (x86)\Evil Islands\res\texts_res\
OptStandRes=1
TxtEdDlgFiltList=*|âñå ÷òî òîëüêî ìîæíî :)|*.*|âñå ôàéëû ñ ðàñøèðåíèåì|allod*|Àëëîäû|armor*|Áðîíÿ|briefing*|Áðèôèíãè|camphelp*|Ñïðàâêà ëàãåðÿ|instr*|×åðòåæè|litem*|Ïðåäìåòû äëÿ ïðîäàæè|map.txt|Ïàðàìåòðû êàðò|material*|Ìàòåðèàëû|matshort*|Ñîêðàùåííûå íàçâàíèÿ ìàòåðèàëîâ|modifier*|Ðóíû|perk*|Ïåðêè|pers*|Èìåíà ïåðñîíàæåé|qitem*|Æåçëû|quest*|Ïåéäæåð êâåñòîâ|questitem*|Êâåñòîâûå ïðåäìåòû|say*|Ðåïëèêè íà êàðòå|spell*|Çàêëèíàíèÿ|string*|Ñòðîêè|tip*|Âñïëûâàþùèå ïîäñêàçêè|tutor*|Òåêñòû ýêðàíîâ ïîäñêàçîê|tutorial*|Íàñòðîéêà ïîäñêàçîê|unit*|Èìåíà þíèòîâ|weapon*|Îðóæèå|zone*|Îïèñàíèå çîí|*.res|ðåçû|*.mq|ÌÊÓ-øêè
TxtEdDlgActFilt=1
TxtEdDlg1Click=0
TxtEdDlgUseCritSiz=1
TxtEdDlgCritSiz=100000
TxtEdDlgWordWrap=1
