# um-bot settings
HOST=127.0.0.1
PORT=8888
NAME=GIGACHAD
ROLE=1
TANKINESS=50
PRIORITY=0
HEAL_PLAYER_BELOW=50
HEAL_SELF_BELOW=35
MANA_RESERVE=50
USE_POTIONS=1
ENGAGEMENT=1
FOLLOW_DISTANCE=4
LEASH_DISTANCE=25
PACE=0
