# um-bot settings
HOST=127.0.0.1
PORT=8888
NAME=GIGACHAD
CHARACTER=/home/kyral/repositories/github/Kyr4l/ei-universal-mod/Universal-Mod/mp/8.mp
LANGUAGE=ru
ROLE=1
TANKINESS=25
PRIORITY=0
HEAL_PLAYER_BELOW=80
HEAL_SELF_BELOW=50
MANA_RESERVE=70
USE_POTIONS=1
ENGAGEMENT=1
FOLLOW_DISTANCE=4
LEASH_DISTANCE=25
PACE=0
